
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/jh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Baloo Bhaina 2', ;
    color: #444;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD700; /* Gold color */
}

.nav-bar .logo img {
    height: 50px;
}

.nav-bar .nav-links a {
    color: #000;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.nav-bar .nav-links a:hover {
    text-decoration: underline;
}

/* Profile Container */
.profile-container {
    max-width: 600px;
    margin: 80px auto;
    background-color: #f0f8ff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 5px solid #ffcccb;
}

/* Profile Heading */
.profile-container h2 {
    font-family: 'Comic Neue', cursive; /* Playful font */
    font-size: 2.5rem !important; /* Increased size for h1 */
    margin-top: 20px !important; /* Adjust this value for better spacing */
    margin-left: 0; /* Remove left margin */
    white-space: nowrap; /* Prevent text from breaking into two lines */
    color: #FF6F61; /* Vibrant coral color */
    text-shadow: 2px 2px #FF6F61; /* Subtle gold shado  w for depth */
    text-align: left;
  }
/* Form Group */
.profile-container .form-group {
    margin-bottom: 20px;
    position: relative;
}

.profile-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FF6F61;
}

.profile-container input[type="text"],
.profile-container input[type="email"],
.profile-container input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    background-color: #fff0f5;
    font-size: 1.1rem;
}

.profile-container button {
    width: 100%;
    padding: 15px;
    background-color: #ff6347;  /* Fun, bright background */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.profile-container button:hover {
    background-color: #ffa07a;
}

/* Flash Messages */
.error-message, .success-message {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.error-message {
    background-color: #ffcccc;
    color: #ff0000;
}

.success-message {
    background-color: #ccffcc;
    color: #32cd32;
}


/* Navigation Bar */




