<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="please wait while we work on your game">
    <meta name="description" content="">
    <title>Wait</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="../static/css/wait.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/wait.js" defer=""></script>
    <meta name="theme-color" content="#478ac9">
</head>
<body class="u-body u-xl-mode" data-lang="en">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h6 class="u-align-center u-text u-text-1"> Thank you for uploading your PDF file </h6>
        <h1 class="u-align-center u-text u-text-default u-title u-text-2">Please wait while we are working on your game<br>
        </h1>
        <!-- Disable the button initially -->
        <a href="/questions" id="startButton" class="u-align-center u-btn u-button-style u-palette-2-base u-btn-1" style="pointer-events: none; opacity: 0.5;">Start</a>
      </div>
    </section>

    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>This site was created with the </span>
        <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
          <span>Nicepage</span>
        </a>
      </p>
    </section>
</body>
</html>
